@font-face {
    font-family: 'Aachen Bold';
    src: url('Aachen Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Aachen BT 400';
    src: url('Aachen BT 400.ttf') format('truetype');
}

header {
    display: flex;
    flex-direction: column;
    background-color: #ba0000;
    height: fit-content;
}

.drop_button {
    background-color: #ba0000;
    text-shadow: -1px 3px #000000;
    color: #dcdc47;
    font-family: 'Aachen BT 400', sans-serif;
    font-size: 1rem;
    margin-right: 1rem;
    letter-spacing: 2px;
    text-decoration: unset;
    border: unset;
    padding: 0;
}

.dropdown {
    display: inline-block;
}

.dropdown_content {
    font-family: 'Aachen BT 400', sans-serif;
    display: none;
    position: absolute;
    background-color: #ba0000;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,0.2);
    z-index: 1;
    color: #dcdc47;
    text-shadow: -1px 3px #000000;
    padding: 1rem;
}

.dropdown_content input {
    color: #dcdc47;
    display: block;
    margin: 0.5rem 0;
}

.dropdown_content input:hover {
    background-color: #000000;
    color: #ba0000;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.label_button_flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.sort_select {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.8rem 1rem 0.5rem 1rem;
    gap: 0.3rem;
}

#sort_submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sort_submit input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: -1px 3px #000000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: black;
}

h1 {
    padding: 0 1%;
    text-shadow: -3px 3px #000000;
    color: #dcdc47;
    font-family: 'Aachen Bold', sans-serif;
    font-size: 3rem;
    text-align: right;
    letter-spacing: 4px;
    margin: 0.5rem 0 0 2rem;
}

p {
    background-color: rgba(255, 255, 255, 0.81);
    margin: 0.1rem 2rem;
    font-family: 'Aachen BT 400', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 4px;
    padding: 0 0.8rem;
    text-align: right;
}

.banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 240px;
}

.banner_left {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
}

.banner_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding-left: 2rem;
}

.banner_right a {
    text-shadow: -1px 3px #000000;
    color: #dcdc47;
    font-family: 'Aachen BT 400', sans-serif;
    font-size: 1rem;
    margin-right: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
}

.main_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2rem;
    width: 100%;
    overflow-x: scroll;
}

.collection_header {
    text-align: right;
    font-size: 1.8rem;
    margin: 3rem 0 0 1rem;
    color: #ba0000;
    text-shadow: -2px 2px #dcdc47;
}

.main_container .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 13vh;
    padding: 1rem;
    margin: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.add_new_item {
    width: 100%;
    display: flex;
    padding: 3rem 0;
    flex-direction: column;
    background-color: #ba0000;
    font-family: 'Aachen BT 400', sans-serif;
    align-items: center;
}

.add_new_item form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.add_new_item form input {
    margin: 0.5rem 0 1rem 0;
}

.add_new_item form label {
    font-size: 1.5rem;
}

#submit {
    background-color: #e4e4e4;
    color: #555555;
    box-shadow: -3px 3px #494949;
    border: unset;
}